.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: $bp-small) {
           font-size: 1.8rem;
           padding: 1.25rem 2rem;
        }
    }

    &__stars {
        display: flex;
        // hacemos que ocupe todo el espacio sobrante, así conseguimos alejar la ubicación, de las estrellas
        margin-right: auto;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
    }
    
    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);    
        color: var(--color-grey-light-1);
        margin-left: 3rem;
        padding: 0 2.25rem;
        // para que ocupe todo el alto
        align-self: stretch;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media only screen and (max-width: $bp-small) {
            padding:0 1.5rem;
        }
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
        @media only screen and (max-width: $bp-small) {
            font-size: .5rem;
        }
    }
}